.createshop-form{
    /* background-color:rgb(181, 177, 177); */
    height:70vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.createshop-form-1{
    /* background-color:rgb(181, 177, 177); */
    height:70vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.addproduct-form h1{
    /* height:140vh; */
    /* width:100%; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   */
    color:white;
    position: absolute;
    bottom:80%;
    left:50%;
}
.addproduct-heading{
    position: relative;
     
    text-transform: uppercase;
 
    font-size: 1.5em;
    width: fit-content;
    margin-bottom: 10px;
}
.addproduct-heading::after{
    content: "";
    width: 100%;
    height: .2em;
    background: rgb(142, 142, 188);
    margin: 0 auto;
    left: 0;
  right: 0;
     position: absolute;
     /* bottom: -2px; */
     bottom: -15px;
     
}
.addproduct-input{
    background-color: rgb(142, 142, 188);
    width:70%;
    position: absolute;
    top: 30%;
    left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
.addproduct-input-div{
    width:70%;
  
}
.createshop-form-input{
    background-color: rgb(142, 142, 188);
    /* width:50%; */
    height:400px;
    /* border:1px solid black; */
} 
.createshop-form-input-1{
    background-color: rgb(142, 142, 188);
    width:50%;
    height:400px;
    /* border:1px solid black; */
} 
.createshop-field {
    padding:10px;
    gap:10px;
    margin:10px;
    /* width:50%; */
    border:1px solid black;
    /* background-color: transparent; */
    /* color:white; */
}
.createshop-field-1 {
    padding:10px;
    gap:10px;
    margin:10px;
    width:50%;
    border:1px solid black;
    /* background-color: transparent; */
    /* color:white; */
}
.createshop-button{
    padding:10px;
    border:1px solid black;
    cursor: pointer;
    margin:35px;
    position: absolute;
    top:98%;
    left:30%;
    width:17%;
    border:none;
    padding:14px;
    font-weight: 500;
    font-size: 15px;
   
}
.createshop-button-1{
    padding:10px;
    border:1px solid black;
    cursor: pointer;
    margin:35px;
    position: absolute;
    top:98%;
    left:30%;
    width:17%;
    border:none;
    padding:14px;
    font-weight: 500;
    font-size: 15px;
   
}