.home-bg {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;



  /* vertical-align: middle; */
}

.Navbar {
  width: 100%;
  height: 48px;
  background-color: #0C1630;
  position: sticky;
  top: 0;
  color: #fff;
  z-index: 999;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}




.logo {
  height: 40px;
  width: 40px;
  padding: 6px;
  border-radius: 50%;
}

.rightside {
  float: right;
  text-align: right;
  height:0;
}

.rightside a:nth-child(0){
  color:red;
}



.home-fst-line {
  width: 55%;
  color: white;
  position: relative;
  padding: 30px 50px;


}
.home-fst-line h2{
  font-size: 50px;
  line-height: 70px;
}
.home-fst-line h6{
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}


.home-btn button{
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  padding: 10px 26px;
  letter-spacing: 1px;
  font-size: 18px;
  background-image: linear-gradient(#1B2272 0 0);
  background-size: 0;
  background-repeat: no-repeat;
  transition: .4s;
}
.bg-pink{
  background-color: #FFA41C!important;
  border: none!important;
  background-image: linear-gradient(#FF9900 0 0)!important;
}

.btnhover:hover{
  background-size: 100%;
  border: 1px solid #1B2272;

}
.btnhover2:hover{
  background-size: 100%;
  border: 1px solid #FF9900;


}
.filterDrop .MuiFormControl-root{
   width: 130px;
}
.shopCart{
  width: 360px;
  height: 420px;
  box-shadow: 0px 0px 4px 0px #00000040;
  margin: 15px;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}
.shopCart:hover{
  box-shadow: 0px 4px 12px 0px #00000080;
}
.shopCart .shopImg{
  width: 100%;
  height: 260px;
}
.shopImg img{
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}



.home-img {
  width: 230px;
  height: 240px;

}

