.profile-img-1 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("https://cdn.pixabay.com/photo/2023/09/16/18/18/wallpaper-8257343_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;


}




.rightside {
  float: right;
  text-align: right;
}



.inputBox {
  border: 2px solid green;
  padding: 10px;
  width: 300px;
  display: block;
  margin: 20px;
  background-color: transparent;

}

.appButton {
  margin: 25px;
  padding: 10px;
  width: 120px;
  background-color: green;
  cursor: pointer;
  border: 1px solid;
  margin-right: 750px;
  color: black;
  font-weight: bold;
  transition: 0.2s;
  background-color: transparent;
  position: relative;
  left:58%;

}

.appButton:hover {
  background-color: white;
  color: green;
  font-weight: bold;
  background-color: transparent;
}

.login {
  
    background-color: rgb(161, 151, 151);
    width: 100%;
    height:50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height:80vh;

}
.login-form{
  background-color: white;
  width:30%;
  height:290px;
  box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 6%;
}
.login-inputbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login h1 {
  margin-right: 4%;
  padding: 30px;
  color:white;
}
.login-redirectpage{
  display: flex;
  
}
.login-redirectpage li{
  list-style: none;
  
}
.login-redirectpage a{
  position: relative;
  top:30%;
  right:80px;
  text-decoration: none;
  font-weight: 600;
}
.login-redirectpage p{
  color:red;
  position: relative;
  right:50%;
}

.signup {
  background-color: rgb(161, 151, 151);
    width: 100%;
    height:50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height:80vh;
}

.signup h1 {
  margin-right: 4%;
  padding: 30px;
  color:white;
}
.signup-form{
  background-color: white;
  width:30%;
  height:330px;
  box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 6%;
}

.profile-box {
  border: 2px solid green;
  width: 33.33%;
  height: 540px;
  text-align: center;
  align-items: center;
  display: inline-grid;
  justify-content: center;
  background-color: white;
  border-radius: 20%;
  margin: 0 auto;


}

.profile-box h1 {
  color: green;
}

.profile h1 {
  color: red;

  list-style-type: style;
  padding: 12px;
  position: relative;
}


.profile-img {
  width: 100%;
  height: 100%;
}

.profile-img img {
  width: 30%;
  padding: 10px;
  border-radius: 90%;
}

.profile-custom {
  width: 40%;
  /* left:-50px; */
  position: relative;
  /* top:-130px;  */
  padding: 10px;
  display: flex;
  flex-direction: column;
  top: -31%;
  left: 1%;
}

.profile-custom h1,
h4 {
  color: green;
}

.profile-custom h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;

}

.profile-custom h4 {
  top: -20px;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 42%;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 12%;
}

.profile-details h2 {
  font-size: 15px;
  color: green;
  padding: 0;
  margin: 0;
}

.profile-details h1 {
  font-size: 25px;
  color: black;
  padding: 0;
  margin: 0;
}

.profile-menu {
  padding: 23px;
  width: 20%;
  justify-content: start;

}






.material-symbols-outlined {
  color: white;
  position: relative;
  right: 10px;
}





.profile-logout {
  padding: 15px;
}
.profile-logout a:hover{
color:orange;
}